[mysqld]
explicit_defaults_for_timestamp=on
innodb_buffer_pool_instances=2
innodb_buffer_pool_size=1G
innodb_log_file_size=128M
max_allowed_packet=1G
max_connections=500
max_heap_table_size=1G
optimizer_switch=rowid_filter=off
optimizer_use_condition_selectivity=1
tmp_table_size=1G
